{%	extends "base.html"	%}
{%	block content %}
	<div class="container ml-auto mr-auto">
		<div class="row">
			<div class="container col-12 mx-auto my-3">
				{% include 'search/snippets/search-form.html' %}
			</div>
			{% if request.GET.q %}
			<div class="container">
				RESULTS FOR: <b>{{ request.GET.q }}</b>
				<hr class="bg-warning"/>
			</div>
			<!-- <div class="col-12 mx-auto py-3">
				{% include 'search/snippets/search-form.html' %}
				<hr class="bg-warning"/>
			</div> -->
			{% else %}
			<div class="container">
				FEATURED BOOKS:<br/>
				<hr class="bg-warning"/>
			</div>
			{% endif %}
			
			{%	for obj in object_list	%}
				<div class="col">
					{%	include "products/snippets/card.html" with instance=obj %}

					{% if forloop.counter|divisibleby:3 %}
						</div></div><div class="row"><div class="col-12"><hr class="bg-warning"/></div>
					{% else %}
						</div>
					{% endif %}
			{%	endfor	%}
		</div>
	</div>
{%	endblock %}